<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- com.farmzonesnc.axtoy.auth.mapper.AuthMapper 인터페이스 연결 --> 
<mapper namespace="com.farmzonesnc.axtoy.auth.mapper.AuthMapper">

	<!-- 이메일 중복 확인 -->
    <select id="countByEmail" resultType="int">
        SELECT COUNT(*)
        FROM sh_members
        WHERE email = #{email}
    </select>

	<!-- 로그인시 이메일로 회원 찾는 SQL -->
    <select id="findByEmail" resultType="com.farmzonesnc.axtoy.auth.domain.Member">
        SELECT
            id,
            email,
            password,
            nickname,
            created_at,
            updated_at
        FROM sh_members
        WHERE email = #{email}
    </select>

	<!-- 회원가입할 때 DB에 저장하는 SQL -->
    <insert id="insertMember"
            parameterType="com.farmzonesnc.axtoy.auth.domain.Member"
            useGeneratedKeys="true" 
            keyProperty="id">
        INSERT INTO sh_members (
            email,
            password,
            nickname
        ) VALUES (
            #{email},
            #{password},
            #{nickname}
        )
    </insert>

</mapper>